body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #738EFB , #15BAE9);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, form>div>label, a {
    /*Spotify Color*/
    color: #282828;
}

button {
    border-radius: 15px;
    border: 1px solid #000;
    background: var(--darker-gradient, linear-gradient(271deg, #C318FA 3%, #2B5A7E 97.8%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.notification-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background: #282828;
    width: 40px;
    height: 40px;
    padding: 13px 18px;
    border-radius: 60px;
}

button>i {
    font-size: 24px
}

/*una volta premuto il bottone cambia di colore il bordo*/
button:active {
    /*background: #C318FA;*/
    border: 1px solid #FFFFFF;
}

.navbar-brand:hover {
    color: #C318FA;
}

nav>a>p {
    color: white;
    font-size: 20px;
}

nav>a>i{
    font-size: 32px;
}

.card-notification {
    background: #282828;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.bi {
    color: white;
    font-size: 16px;
    width: 30px;
    height: 30px;
}

.card-img-bottom {
    width: 100%;
    border-radius:12px;
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
}