body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #738EFB , #15BAE9);
    background-repeat: no-repeat;
    background-size: cover;
}

h1, form>div>label, a {
    /*Spotify Color*/
    color: #282828
}

a:hover {
    color: white !important;
    text-decoration: none;
}

.form-control, form>div>input[type="submit"] {
    border: 1px solid black;
}

form>div>input[type="submit"] {
    color: white;
    background-image: linear-gradient(271deg, #C318FA, #2B5A7E);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
    border-radius: 15px;
    border: 1px solid #000;
    background: var(--darker-gradient, linear-gradient(271deg, #C318FA 3%, #2B5A7E 97.8%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.notification-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background: #282828;
    width: 40px;
    height: 40px;
    padding: 13px 18px;
    border-radius: 60px;
}

button>i {
    font-size: 24px
}

button:active {
    /*background: #C318FA;*/
    border: 1px solid #FFFFFF;
}

nav>a>p {
    color: white;
    font-size: 20px;
}

nav>a>i{
    font-size: 32px;
}

.card {
    background: var(--darker-gradient, linear-gradient(271deg, #C318FA 3%, #2B5A7E 97.8%));
    border-radius:12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

.card-footer {
    color: white;
}

.card>img {
    border-radius:12px;
}

#image-previous {
    width: 100%;
    max-height: 700px;
    margin-bottom: 30px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 13px 18px;
    border-radius: 60px;
}

@media screen and (max-width: 992px) {
    #image-previous {
        max-height: 450px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #image-previous {
        max-height: 350px;
    }
}

/* On screens that are 768px or less, set new position of footer button*/
@media screen and (max-width: 768px) {
    footer {
        display: flex;
        justify-content: center;
    }
}

.add-image {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 70%;
}

#added-hashtags {
    color: #FFFFFF;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}

.like-and-comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}