a:hover {
    color: red;
    text-decoration: none;
}

a>span>em {
    font-size: 20px;
}

.info-user {
    border-right: 1px solid black; 
}

@media screen and (min-width: 768px) {
    .page-content {
        flex: 1 1 auto!important;
    }       
}

@media screen and (max-width: 768px) {
    .info-user {
        border-right: transparent;
    }
}

.img-profile {
    background:transparent;
}

.img-profile img {
    width: 50%;
}

ul {
    list-style: none;
}

.container-info .posts h1 {
    text-align: center;
}

.card {
    background: #282828;
    border-radius:12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

.card-footer {
    color: white;
}

iframe {
    width: 100%;
    border-radius: 12px;
}

