#image-previous {
    width: 100%;
    max-height: 700px;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    #image-previous {
        max-height: 450px;
    }
}
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #image-previous {
        max-height: 350px;
    }
}

.add-image {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

#added-hashtags {
    color: #FFFFFF;
}